@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

main.app-main {
	max-width: 1200px;
	width: calc(100% - 20px);
	margin: auto;
	display: grid;
	gap: 4px;
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 6px 0;
	}
}

.add-btn {
	width: max-content;
	background: #000;
	padding: 10px 18px;
	border-radius: 4px;
	color: white;
	border: none;
	cursor: pointer;
}

.success-message {
	background-color: #186e24;
	padding: 6px 12px;
	border-radius: 4px;
	color: white;
	width: max-content;
}

.error-message {
	background-color: #d22121;
	padding: 6px 12px;
	border-radius: 4px;
	color: white;
	width: max-content;
}

.loading-message {
	background-color: #42b672;
	padding: 6px 12px;
	border-radius: 4px;
	color: white;
	width: max-content;
}

.todo-list {
	margin-top: 20px;
	list-style: none;
	display: grid;
	gap: 4px;
	li {
		background: #dfdfdf;
		padding: 6px;
		border-radius: 4px;
	}
}

.action-area {
	display: flex;
	input {
		border: 2px solid #dfdfdf;
		padding: 6px;
		border-radius: 4px;
	}
	gap: 4px;
}

.skeleton-area {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	margin-bottom: 24px;
	.skeleton-img {
		height: 300px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		background: #eee;
		background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
		border-radius: 5px;
		background-size: 200% 100%;
		animation: 1.5s shine linear infinite;
	}
}

@keyframes shine {
	to {
		background-position-x: -200%;
	}
}
